PORT=5000
MONGODB_URI=mongodb://localhost:27017/portfolio
JWT_SECRET=supersecretjwtkey_replace_in_production
JWT_EXPIRES_IN=7d
FRONTEND_URL=http://localhost:5173
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=admin
NODE_ENV=development
