PORT=5000
MONGODB_URI=mongodb://localhost:27017/portfolio
JWT_SECRET=supersecretjwtkey_replace_in_production_min_32_chars
JWT_EXPIRES_IN=15m
REFRESH_TOKEN_DAYS=7
FRONTEND_URL=https://portfolio-8fqx.vercel.app,http://localhost:5173
ADMIN_EMAIL=profkvrim@gmail.com
ADMIN_PASSWORD=admin
NODE_ENV=development

